.book-now-button {
  width: 100%;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(136, 158, 142);
  margin-top: -5px;
  color: white;
}

.spot-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

.booking-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 60%;
  gap: 5px;
  margin-bottom: 13px;
}

.text-container {
  /* flex-basis: 70%; */
  padding-left: 20px;
  flex-grow: 1;
}

.spot-details {
  display: flex;
  flex-direction: column;
}
.edit-button-1 {
  background-color: rgb(223, 132, 132);
  color: white;
  border: black 1px solid;
  box-shadow: 2px 2px 2px black;
  margin-right: 5px;
  cursor: pointer;
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-location {
  color: gray;
}

.text-container-date {
  color: rgb(85, 179, 158);
  /* font-weight: bold; */
}

.date-passed {
  color: red;
}

.start-end-date-bold {
  font-weight: bold;
  /* display: flex; */
  /* flex-direction: column; */
}
