.hidden {
    display: none
}

.NavBar {
    display: flex;
    /* grid-template-columns: repeat(3,1fr) */
    justify-content:space-between;
}

.profile-menu-btn {
    cursor: pointer;
}

.rightNav {
    display: flex;
    align-items: center;
}

.NavBar a {
    text-decoration: none;
}
